# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ============================
# Jupyter Notebook
# ============================
.ipynb_checkpoints/

# ============================
# Dados Processados Temporários
# ============================
*.tmp
*.log

# ============================
# Sistema Operacional
# ============================
.DS_Store
Thumbs.db

# ============================
# IDEs
# ============================
.vscode/
.idea/

# ============================
# Arquivos Sensíveis
# ============================
*.env
